<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<body>
<div th:fragment="header">
    <!--Nội dung điền vô đây-->
    <header class="header">
        <div class="grid wide ">
            <div class="row navbar">
                <div class="col l-2 m-2 c-6">
                    <a th:href="@{/}" style="text-decoration: none">
                        <h1 class="logo" about="">ALOTRA</h1>
                    </a>
                </div>
                <div class="col l-8 m-8 c-0">
                    <ul class="navbar__list">
                        <li class="navbar__item">
                            <a th:href="@{/}" class="navbar__item-link">
                                TRANG CHỦ
                            </a>
                        </li>
                        <li class="navbar__item">
                            <a class="navbar__item-link" th:href="@{/products}">
                                SẢN PHẨM
                            </a>
                        </li>
                        <li class="navbar__item">
                            <a class="navbar__item-link" th:href="@{/about-us}">
                                VỀ CHÚNG TÔI
                            </a>
                        </li>
                        <li class="navbar__item">
                            <a class="navbar__item-link" href="./contact.html">
                                LIÊN HỆ
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="header-icon col l-2 m-2 c-0">
                    <div class="search-link__wrapper">
                        <a class="search-link">
                            <i class="fas fa-search"></i>
                        </a>
                    </div>
                    <div class="cart-link__wrapper">
                        <a href="../cart.html" class="cart-link">
                            <span class="cart-link-notice">1</span>
                            <i class="fa fa-cart-plus"></i>
                        </a>
                        <!-- cart list -->
                        <div class="cart-list">
                            <!-- empty cart list -->
                            <div class="cart-list__empty-cart">
                                <img src="/assets/img/icon/empty_cart.png" alt="Empty cart"
                                     class="cart-list__empty-cart-img">
                                <div class="cart-list__empty-cart-title">
                                    Unfortunately, Your Cart Is Empty
                                </div>
                                <div class="cart-list__empty-cart-message">
                                    Please add something in your cart
                                </div>
                            </div>
                            <!-- filled cart list -->
                            <div class="cart-list__filled-cart">
                                <div class="filled-cart__header">
                                        <span class="filled-cart__title">
                                            Added Products
                                        </span>
                                </div>
                                <ul class="cart-list__filled-cart__items-list">
                                    <a href="./" class="cart-list__filled-cart__item-wrapper">
                                        <li class="cart-list__filled-cart__item">
                                            <img src="https://hcm.fstorage.vn/images/2024/11/tra-o-long-dau-min-20241113105844.png"
                                                 alt="foundation" class="filled-cart__item-img">
                                            <div class="cart-list__filled-cart__item-info">
                                                <div class="cart-list__filled-cart__item-info-head">
                                                        <span class="cart-list__filled-cart__item-name">
                                                            Trà Ô Long Dâu (L)
                                                        </span>
                                                    <div class="cart-list__filled-cart__price-wrapper">
                                                        <div class="cart-list__filled-cart__item-price">
                                                            65000đ
                                                        </div>
                                                        <div class="cart-list__filled-cart__multiphy">x</div>
                                                        <div class="cart-list__filled-cart__item-quantity">
                                                            2
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="cart-list__filled-cart__item-info-body">
                                                        <span class="cart-list__filled-cart__item-category">
                                                            Category: Bst mới tearamisu
                                                        </span>
                                                    <span class="cart-list__filled-cart__remove">
                                                            Remove
                                                        </span>
                                                </div>
                                            </div>
                                        </li>
                                    </a>
                                </ul>
                                <a th:href="@{/cart}" class="cart-list__filled-cart__footer">
                                    <button id="cart-list__view-button" class="buttons buttons--smaller">View Cart
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Kiểm tra nếu chưa đăng nhập -->
                    <a class="login-link" th:if="${session.myInfo == null}" th:href="@{/auth/form-login}">
                        <i class="fa fa-user"></i>
                    </a>

                    <!-- Kiểm tra nếu đã đăng nhập -->
                    <div class="user-info" th:if="${session.myInfo != null}">
                        <div class="dropdown">
                            <button class="dropbtn" th:text="${session.myInfo.email}"></button>
                            <div class="dropdown-content">
                                <a th:href="@{/user/myInfo}">Thông tin cá nhân</a>
                                <a th:href="@{/orders}">Đơn hàng</a>
                                <a th:href="@{/auth/logout}">Đăng xuất</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--Header: end-->
    <!--  Back to top  -->
    <div id="back-to-top" class="back-to-top" title="Back to top">
        <i class="fas fa-arrow-up"></i>
    </div>
</div>
</body>
</html>