<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<body>
<div th:fragment="header">
    <!--Nội dung điền vô đây-->
    <header class="header">
        <div class="grid wide ">
            <div class="row navbar">
                <div class="col l-2 m-2 c-6">
                    <a th:href="@{/}" style="text-decoration: none">
                        <h1 class="logo" about="">ALOTRA</h1>
                    </a>
                </div>
                <div class="col l-8 m-8 c-0">
                    <ul class="navbar__list">
                        <li class="navbar__item">
                            <a th:href="@{/}" class="navbar__item-link">
                                TRANG CHỦ
                            </a>
                        </li>
                        <li class="navbar__item">
                            <a class="navbar__item-link" th:href="@{/products}">
                                SẢN PHẨM
                            </a>
                        </li>
                        <li class="navbar__item">
                            <a class="navbar__item-link" th:href="@{/about-us}">
                                VỀ CHÚNG TÔI
                            </a>
                        </li>
                        <li class="navbar__item">
                            <a class="navbar__item-link" href="./contact.html">
                                LIÊN HỆ
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="header-icon col l-2 m-2 c-0">
                    <div class="search-link__wrapper">
                        <a class="search-link">
                            <i class="fas fa-search"></i>
                        </a>
                    </div>
                    <div class="cart-link__wrapper">
                        <a href="../cart.html" class="cart-link">
                            <span class="cart-link-notice">1</span>
                            <i class="fa fa-cart-plus"></i>
                        </a>
                        <!-- cart list -->
                        <div class="cart-list">
                            <!-- empty cart list -->
                            <div class="cart-list__empty-cart">
                                <img src="/assets/img/icon/empty_cart.png" alt="Empty cart"
                                     class="cart-list__empty-cart-img">
                                <div class="cart-list__empty-cart-title">
                                    Unfortunately, Your Cart Is Empty
                                </div>
                                <div class="cart-list__empty-cart-message">
                                    Please add something in your cart
                                </div>
                            </div>
                            <!-- filled cart list -->
                            <div class="cart-list__filled-cart">
                                <div class="filled-cart__header">
                                        <span class="filled-cart__title">
                                            Added Products
                                        </span>
                                </div>
                                <ul class="cart-list__filled-cart__items-list">
                                    <a href="./" class="cart-list__filled-cart__item-wrapper">
                                        <li class="cart-list__filled-cart__item">
                                            <img src="https://hcm.fstorage.vn/images/2024/11/tra-o-long-dau-min-20241113105844.png"
                                                 alt="foundation" class="filled-cart__item-img">
                                            <div class="cart-list__filled-cart__item-info">
                                                <div class="cart-list__filled-cart__item-info-head">
                                                        <span class="cart-list__filled-cart__item-name">
                                                            Trà Ô Long Dâu (L)
                                                        </span>
                                                    <div class="cart-list__filled-cart__price-wrapper">
                                                        <div class="cart-list__filled-cart__item-price">
                                                            65000đ
                                                        </div>
                                                        <div class="cart-list__filled-cart__multiphy">x</div>
                                                        <div class="cart-list__filled-cart__item-quantity">
                                                            2
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="cart-list__filled-cart__item-info-body">
                                                        <span class="cart-list__filled-cart__item-category">
                                                            Category: Bst mới tearamisu
                                                        </span>
                                                    <span class="cart-list__filled-cart__remove">
                                                            Remove
                                                        </span>
                                                </div>
                                            </div>
                                        </li>
                                    </a>
                                </ul>
                                <a th:href="@{/cart}" class="cart-list__filled-cart__footer">
                                    <button id="cart-list__view-button" class="buttons buttons--smaller">View Cart
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!--LOGIN-->
                    <div class="login-link__wrapper">
                        <a class="login-link">
                            <i class="fa fa-user"></i>
                        </a>
                    </div>

                </div>
                <div class="nav-mobile__overlay"></div>
                <div class="nav-icon col l-0 m-0 c-6">
                    <label for="nav-mobile__label">
                        <i class="nav-link fas fa-bars"></i>
                    </label>
                    <input type="checkbox" hidden="" id="nav-mobile__label" class="navbar__check">
                    <div class="nav-mobile">
                        <label for="nav-mobile__label">
                            <i class="icon-exit far fa-times-circle"></i>
                        </label>
                        <ul class="nav-mobile__list">
                            <a href="../index.html" class="nav-mobile__link">
                                <li class="nav-mobile__item">
                                    Home
                                </li>
                            </a>
                            <a href="../products.html" class="nav-mobile__link">
                                <li class="nav-mobile__item">
                                    Products
                                </li>
                            </a>
                            <a href="../about.html" class="nav-mobile__link">
                                <li class="nav-mobile__item">
                                    About Us
                                </li>
                            </a>
                            <a href="../contact.html" class="nav-mobile__link">
                                <li class="nav-mobile__item">
                                    Contact Us
                                </li>
                            </a>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </header>
    <!--Header: end-->
    <!--    modal-->
    <div class="modal">
        <div class="modal__icon-close">
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <input type="text" class="modal__input" placeholder="Search...">
        <!-- Search history -->
        <div class="modal__history">
            <h3 class="modal__history-history-heading">Search history</h3>
            <ul class="modal__history-history-list">
                <li class="modal__history-item">
                    <a href="">Body mist</a>
                </li>
                <li class="modal__history-item">
                    <a href="">Innisfee green tea</a>
                </li>
            </ul>
        </div>
    </div>
    <!--modal account-->
    <div class="modal-account">
        <div class="modal__overlay"></div>
        <div class="modal__body">
            <!--Register form -->
            <div class="register-form">
                <div class="auth-form">
                    <div class="auth-form__container">
                        <div class="auth-form__header">
                            <h3 class="auth-form__heading">Register</h3>
                            <span class="login-from__btn auth-form__switch-btn">Login</span>
                        </div>
                        <div class="auth-form__form">
                            <div class="auth-form__group">
                                <input type="mail" class="auth-form__input" placeholder="User name">
                            </div>
                            <div class="auth-form__group">
                                <input type="mail" class="auth-form__input" placeholder="Email">
                            </div>
                            <div class="auth-form__group">
                                <input type="password" class="auth-form__input" placeholder="Password">
                            </div>
                            <div class="auth-form__group">
                                <input type="password" class="auth-form__input" placeholder="Confirm password">
                            </div>

                        </div>
                        <div class="auth-form__aside">
                            <p class="auth-form__policy-text">
                                By registering, you agree with Cosmetics
                                <a href="" class="auth-form__text-link">
                                    Terms of service
                                </a>&
                                <a href="" class="auth-form__text-link">
                                    Privacy policy
                                </a>
                            </p>
                        </div>
                        <div class="auth-form__controls">
                            <button class="btn buttons auth-form__controls-back ">
                                BACK
                            </button>
                            <button class="buttons">
                                REGISTER
                            </button>
                        </div>
                    </div>
                    <div class="auth-form_socials">
                        <a href="" class="auth-form_socials--face btn  btn--size-s btn--width-icon">
                            <i class="auth-form_socials-icon fab fa-facebook-square"></i>
                            <span class="auth-form__social-title">
                                Connect to Facebook</span>
                        </a>
                        <a href=""
                           class="auth-form_socials-icon auth-form_socials--google btn btn--size-s btn--width-icon">
                            <i class="icon-gg fab fa-google-plus-square"></i>
                            <span class="auth-form__social-title">
                                Connect to Google</span>
                        </a>
                    </div>
                </div>
            </div>
            <!--Login form -->
            <div class="login-form">
                <div class="auth-form">
                    <div class="auth-form__container">
                        <div class="auth-form__header">
                            <h3 class="auth-form__heading">Login</h3>
                            <span class="register-from__btn auth-form__switch-btn">Register</span>

                        </div>
                        <div class="auth-form__form">
                            <div class="auth-form__group">
                                <input id="mail" type="email" class="auth-form__input" placeholder="User name">
                            </div>
                            <div class="auth-form__group">
                                <input id="password" type="password" class="auth-form__input" placeholder="Password">
                            </div>


                        </div>
                        <div class="auth-form__aside">
                            <div class="auth-form__help">
                                <span href="" class="auth-form__help-link auth-form__help-link--forgot">Forgot
                                    password</span>
                                <span class="auth-form__help-separate"></span>
                                <a href="" class="auth-form__help-link">Help?</a>
                            </div>
                        </div>
                        <div class="auth-form__controls">
                            <button class="btn buttons auth-form__controls-back ">
                                BACK
                            </button>
                            <a><input id="submit" type="submit" class="buttons" name="Login"> </a>

                        </div>
                    </div>
                    <div class="auth-form_socials">
                        <a href="" class="auth-form_socials--face btn  btn--size-s btn--width-icon">
                            <i class="auth-form_socials-icon fab fa-facebook-square"></i>
                            <span class="auth-form__social-title">
                                Kết nối với Facebook</span>
                        </a>
                        <a href=""
                           class="auth-form_socials-icon auth-form_socials--google btn btn--size-s btn--width-icon">
                            <i class="icon-gg fab fa-google-plus-square"></i>
                            <span class="auth-form__social-title">
                                Kết nối với Google</span>
                        </a>
                    </div>
                </div>
            </div>
            <!--Forgot password-->
            <div class="forgot-pass-form">
                <div class="auth-form">
                    <div class="auth-form__container">
                        <div class="auth-form__header">
                            <h3 class="auth-form__heading">Forgot password</h3>
                        </div>
                        <div class="auth-form__form">
                            <div class="auth-form__group">
                                <input type="mail" class="auth-form__input" placeholder="Email">
                            </div>
                        </div>
                        <div class="auth-form__controls">
                            <button class="btn buttons auth-form__controls-back ">
                                BACK
                            </button>
                            <button class="buttons">
                                SEND
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  Back to top  -->
    <div id="back-to-top" class="back-to-top" title="Back to top">
        <i class="fas fa-arrow-up"></i>
    </div>
</div>

</body>
</html>