<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<body>
<div th:fragment="footer">
<!--Nội dung điền vô đây-->
    <!--Footer: begin-->
    <div class="footer">
        <div class="grid wide">
            <div class="row footer-content">
                <div class="col l-4 m-12 c-12">
                    <ul class="footer__contact">
                        <li class="footer__contact--title">
                            Liên hệ
                        </li>
                        <a class="footer__contact-link" href="">
                            <li class="footer__contact-address">
                                Địa chỉ: Ho Chi Minh City
                            </li>
                        </a>
                        <a class="footer__contact-link" href="">
                            <li class="footer__contact-email">
                                Email: @gmail.com
                            </li>
                        </a>
                        <a class="footer__contact-link" href="">
                            <li class="footer__contact-phone">
                                Điện thoại: +03569945674
                            </li>
                        </a>
                        <img class="footer__contact-img" src="/assets/img/footer-tab-1.png" alt="">

                    </ul>
                </div>
                <div class="col l-4 m-12 c-12">
                    <ul class="footer__follow">
                        <li class="footer__contact--title">
                            ALOTRA
                        </li>
                        <p class="footer__follow-text">
                            Trà sữa ngon,
                            <br>
                            thư giãn tuyệt vời,
                            <br>
                            mỗi ngụm ngọt ngào.
                        </p>
                        <div class="footer__follow-icon">
                            <a href="" class="footer__follow-icon-link">
                                <i class="fab fa-internet-explorer"></i>
                            </a>
                            <a href="" class="footer__follow-icon-link">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="" class="footer__follow-icon-link">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                            <a href="" class="footer__follow-icon-link">
                                <i class="fab fa-pinterest-square"></i>
                            </a>

                        </div>
                    </ul>
                </div>
                <div class="col l-4 m-12 c-12">
                    <ul class="footer__follow">
                        <li class="footer__contact--title">
                            Thương hiệu
                        </li>
                        <p class="footer__follow-text">
                            Hương vị đậm đà, cảm xúc trọn vẹn
                            <br>
                            AloTra – Vị ngọt thanh, phút giây thư giãn
                            <br>
                            Mỗi ngụm trà, một niềm vui mới
                        </p>
                    </ul>
                </div>

            </div>

        </div>
        <div class="footer--bottom">
            <p class="footer-bottom__text">Copyright © Group 8 Su Pham Ky Thuat University</p>
        </div>


    </div>
    <!--Footer: end-->
</div>
</body>
</html>