<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{/customer/layout-customer.html}">
<body>
<section layout:fragment="content">
    <!-- About Us -->
    <div class="about-us">
        <div class="about-us__header-wrapper">
            <div class="about-us__header">About Us</div>
        </div>
        <div class="about-us__info-wrapper">
            <div class="about-us__info">
                <a href="https://www.facebook.com/duythien3624"><div class="about-us__info-img"></div></a>
                <div class="about-us__info-content">
                    <span class="about-us__info-name">Name: <span>Quach Nguyen Duy Thien</span></span>
                    <span class="about-us__info-date">Date: <span>...</span></span>
                </div>
            </div>

            <div class="about-us__info info--background-dark">
                <a href="https://www.facebook.com/profile.php?id=100050271964659"><div class="about-us__info-img"></div></a>
                <div class="about-us__info-content white">
                    <span class="about-us__info-name">Name: <span>Nguyen Ngoc Thanh</span></span>
                    <span class="about-us__info-date">Date: <span>...</span></span>
                </div>
            </div>

            <div class="about-us__info">
                <a href="https://www.facebook.com/nhan.tran.0411"><div class="about-us__info-img"></div></a>
                <div class="about-us__info-content">
                    <span class="about-us__info-name">Name: <span>Tran Dai Nhan</span></span>
                    <span class="about-us__info-date">Date: <span>...</span></span>
                </div>
            </div>

            <div class="about-us__info info--background-dark">
                <a href="https://www.facebook.com/profile.php?id=100014398127307"><div class="about-us__info-img"></div></a>
                <div class="about-us__info-content white">
                    <span class="about-us__info-name">Name: <span>Nguyen Van Thang</span></span>
                    <span class="about-us__info-date">Date: <span>...</span></span>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>