<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{/customer/layout-customer.html}">
<body>
<section layout:fragment="content">

    <div id="app">
        <div class="contact-content">
            <div class="product-slider">
                <div class="product-slider-wrapper">
                    <div class="product-slider__background">
                        <img src="https://static9.depositphotos.com/1526816/1110/v/450/depositphotos_11100751-stock-illustration-farm-scene.jpg" style="width: 100%">
                    </div>
                    <div class="product-slider__title ">Contact Us</div>
                </div>
            </div>
            <div class="contact-branch">
                <div class="grid wide branch-wrapper">
                    <div class="row branch-section">
                        <div class="col l-3 m-6 c-12 branch">
                            <ul class="branch-item">
                                <li><h2>NHÂN NGU</h2></li>
                                <li><a href="#">Address: Seestrasse 21, Zurich</a></li>
                                <li><a href="#">E-mail: biagiottitheme@gmail.com</a></li>
                                <li> <a href="#">Phone : + 99 411 725 39 12</a></li>
                            </ul>
                        </div>
                        <div class="col l-3 m-6 c-12 branch">
                            <ul class="branch-item">
                                <li><h2>THIỆN KHỜ</h2></li>
                                <li><a href="#">Address: Rue Vieille Du Temple, Paris</a></li>
                                <li><a href="#">E-mail: biagiottitheme@gmail.com</a></li>
                                <li> <a href="#">Phone : + 99 411 725 39 12</a></li>
                            </ul>
                        </div>
                        <div class="col l-3 m-6 c-12 branch">
                            <ul class="branch-item">
                                <li>  <h2>THẮNG TẺN TẺN</h2></li>
                                <li><a href="#">Address: 191 Victoria Street, London</a></li>
                                <li><a href="#">E-mail: biagiottitheme@gmail.com</a></li>
                                <li> <a href="#">Phone : + 99 411 725 39 12</a></li>
                            </ul>
                        </div>
                        <div class="col l-3 m-6 c-12 branch">
                            <ul class="branch-item">
                                <li>  <h2>THÀNH</h2></li>
                                <li><a href="#">Address: Tan Phu ward,Thu Duc city</a></li>
                                <li><a href="#">E-mail: biagiottitheme@gmail.com</a></li>
                                <li> <a href="#">Phone : + 99 411 725 39 12</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-ask">

                <div class="grid wide">
                    <div class="row contact-ask-wrapper">
                        <div class="col l-6 m-12 c-12 contact-ask-item">
                            <div class="contact-section-inner">
                                <h2 class="tagline"> Perfect shades</h2>
                                <h2 class="title">Ask us anything</h2>
                                <h5 class="subtitle">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</h5>
                            </div>
                            <div class="contact-form">
                                <input type="email" class="your-email" placeholder="Email*">
                                <textarea  class="your-message" cols="40" rows="10" placeholder="Your comment"></textarea>
                                <button class="submit-btn">SUBMIT</button>
                            </div>
                        </div>
                        <div class="col l-6 m-12 c-12 contact-map">
                            <img src="./assets/img/contact2.jpg" alt="Map" class="img-map">
                        </div>
                    </div>
                </div>
            </div>
            <!--Search mobile-->
            <div class="search-mobile">
                <div class="search-mobile__input">
                    <input class="search-mobile__input-text" placeholder="Search..." >
                    <i class="icon-search fas fa-search"></i>
                </div>

                <a href="cart.html" class="cart-link">
                    <i class="fa fa-cart-plus"></i>
                </a>
                <a class="login-link " style="padding-right: 10px">
                    <i class="fa fa-user"></i>
                </a>

            </div>
        </div>
    </div>
    </div>

</section>

</body>
</html>