<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{/customer/layout-customer.html}">
<body>
<section layout:fragment="content">
    <!--Nội dung điền vô đây-->
    <div id="app">
        <!--Content: begin-->
        <div class="content-products">
            <div class="grid wide">
                <div class="row">
                    <div class="col l-2 m-2 c-0">
                        <div class="product__items">
                            <h3 class="product_item-title">Danh mục</h3>
                            <ul class="product__items-list">
                                <a th:href="@{/products(category='Bst mới tearamisu')}" class="product__item-link">
                                    <li class="product__items-item" th:classappend="${category == 'Bst mới tearamisu' ? ' active-btn' : ''}">Bst mới tearamisu</li>
                                </a>
                                <a th:href="@{/products(category='Trà trái cây')}" class="product__item-link">
                                    <li class="product__items-item" th:classappend="${category == 'Trà trái cây' ? ' active-btn' : ''}">Trà trái cây</li>
                                </a>
                                <a th:href="@{/products(category='Trà sữa')}" class="product__item-link">
                                    <li class="product__items-item" th:classappend="${category == 'Trà sữa' ? ' active-btn' : ''}">Trà sữa</li>
                                </a>
                                <a th:href="@{/products(category='Kem silky')}" class="product__item-link">
                                    <li class="product__items-item" th:classappend="${category == 'Kem silky' ? ' active-btn' : ''}">Kem silky</li>
                                </a>
                                <a th:href="@{/products(category='Cà phê')}" class="product__item-link">
                                    <li class="product__items-item" th:classappend="${category == 'Cà phê' ? ' active-btn' : ''}">Cà phê</li>
                                </a>
                                <a th:href="@{/products(category='Đá xay')}" class="product__item-link">
                                    <li class="product__items-item" th:classappend="${category == 'Đá xay' ? ' active-btn' : ''}">Đá xay</li>
                                </a>
                                <a th:href="@{/products(category='Bst kim cúc mộc tê')}" class="product__item-link">
                                    <li class="product__items-item" th:classappend="${category == 'Bst kim cúc mộc tê' ? ' active-btn' : ''}">Bst kim cúc mộc tê</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                    <div class="col l-10 m-10 c-12">
                        <div class="home-filter hide-on-mobile-tablet">
                            <span class="home-filter__lable">Sắp xếp</span>
                            <div class="select-input">
        <span class="select-input__lable"
              th:text="${sort == 'desc' ? 'Giảm dần' : (sort == 'asc' ? 'Tăng dần' : 'Mặc định')}">
        </span>
                                <i class="select-input__icon fas fa-angle-down"></i>
                                <ul class="select-input__list">
                                    <li class="select-input__item">
                                        <a th:href="@{/products(sort='none', category=${category})}"
                                           th:if="${category != null}" class="select-input__link">Mặc định</a>
                                        <a th:href="@{/products(page=${currentPage}, size=${10}, sort='none')}"
                                           th:if="${category == null}" class="select-input__link">Mặc định</a>
                                    </li>
                                    <li class="select-input__item">
                                        <a th:href="@{/products(sort='asc', category=${category})}"
                                           th:if="${category != null}" class="select-input__link">Tăng dần</a>
                                        <a th:href="@{/products(page=${currentPage}, size=${10}, sort='asc')}"
                                           th:if="${category == null}" class="select-input__link">Tăng dần</a>
                                    </li>
                                    <li class="select-input__item">
                                        <a th:href="@{/products(sort='desc', category=${category})}"
                                           th:if="${category != null}" class="select-input__link">Giảm dần</a>
                                        <a th:href="@{/products(page=${currentPage}, size=${10}, sort='desc')}"
                                           th:if="${category == null}" class="select-input__link">Giảm dần</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <nav class="mobile-category">
                            <ul class="mobile-category__list">
                                <li class="mobile-category__item">
                                    <a th:href="@{/products(category='Bst mới tearamisu')}" class="mobile-category__link active-border">Bst mới tearamisu</a>
                                </li>
                                <li class="mobile-category__item">
                                    <a th:href="@{/products(category='Trà trái cây')}" class="mobile-category__link">Trà trái cây</a>
                                </li>
                                <li class="mobile-category__item">
                                    <a th:href="@{/products(category='Trà sữa')}" class="mobile-category__link">Trà sữa</a>
                                </li>
                                <li class="mobile-category__item">
                                    <a th:href="@{/products(category='Kem silky')}" class="mobile-category__link">Kem silky</a>
                                </li>
                                <li class="mobile-category__item">
                                    <a th:href="@{/products(category='Cà phê')}" class="mobile-category__link">Cà phê</a>
                                </li> <li class="mobile-category__item">
                                <a th:href="@{/products(category='Đá xay')}" class="mobile-category__link">Đá xay</a>
                            </li>
                                <li class="mobile-category__item">
                                <a th:href="@{/products(category='Bst kim cúc mộc tê')}" class="mobile-category__link">Bst kim cúc mộc tê</a>
                            </li>
                            </ul>
                        </nav>
                        <br>
                        <div class="row products">
                            <a th:href="@{/products/{id}(id=${product.product_id})}" th:each="product : ${products}" class="col l-2-4 m-4 c-6">
                                <div class="product__item">
                                    <img th:src="${product.image}" class="product__item-img" alt="">
                                    <h5 class="product__item-name" th:text="${product.product_name}"></h5>
                                    <div class="product__item-price-wrapper">
<!--                                        <h3 class="product__item-price product__item-price&#45;&#45;old"
                                            th:text="${product.cost + 5000 + 'đ'}"></h3>-->
                                        <h3 class="product__item-price" th:text="${product.cost + 'đ'}"></h3>
                                    </div>
                                    <div class="star-link-sold-wrapper">
                                        <div class="star-link">
                                            <!-- Lặp để hiển thị số sao đã đánh giá -->
                                            <i th:each="star : ${#numbers.sequence(1, product.avg_rating)}" th:if="${product.avg_rating >= 1}" class="fa fa-star star--fill"></i>
                                            <!-- Hiển thị nửa sao nếu có -->
                                            <i th:if="${product.avg_rating % 1 != 0 and product.avg_rating < 5}" class="fas fa-star-half-alt star--fill"></i>
                                            <!-- Hiển thị sao trống để đạt tổng cộng là 5 sao -->
                                            <i th:each="star : ${#numbers.sequence(1, 5 - product.avg_rating)}" th:if="${5 - product.avg_rating >= 1}" class="far fa-star star--fill"></i>
                                        </div>
                                    </div>
                                    <div class="product__item-category-wrapper">
                                        <span class="product__item-category" th:text="${product.category}"></span>
                                        <span class="product__item-origin-name">VIETNAM</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="d-flex justify-content-center mt-4" th:if="${hasPagination}">
                            <ul class="pagination">
                                <!-- Nút Trang đầu -->
                                <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                                    <a class="page-link" th:href="@{|/products?page=0&size=10&sort=${sort}|}">Trang đầu</a>
                                </li>

                                <!-- Hiển thị 3 trang liên tiếp -->
                                <li class="page-item"
                                    th:each="i : ${#numbers.sequence((currentPage - 1 < 0 ? 0 : currentPage - 1),
                                            (currentPage + 1 >= totalPages ? totalPages - 1 : currentPage + 1))}"
                                    th:classappend="${i == currentPage} ? 'active'">
                                    <a class="page-link" th:href="@{|/products?page=${i}&size=10&sort=${sort}|}" th:text="${i + 1}"></a>
                                </li>

                                <!-- Nút Trang cuối -->
                                <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                                    <a class="page-link" th:href="@{|/products?page=${totalPages - 1}&size=10&sort=${sort}|}">Trang cuối</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--Content: end-->
        <!--Search mobile-->
        <div class="search-mobile">
            <div class="search-mobile__input">
                <input class="search-mobile__input-text" placeholder="Search...">
                <i class="icon-search fas fa-search"></i>
            </div>

            <a href="/cart.html" class="cart-link">
                <i class="fa fa-cart-plus"></i>
            </a>
            <a class="login-link " style="padding-right: 10px">
                <i class="fa fa-user"></i>
            </a>

        </div>
    </div>

    <!--Js slide-->
    <script>
        let slideIndex = 0
        showSlides()
        function showSlides() {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) { slideIndex = 1 }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            setTimeout(showSlides, 3000); // Change image every 2 seconds
        }
    </script>
    <script src="/assets/js/showHide.js"></script>
    <script src="/assets/js/JSBase.js"></script>
</section>
</body>
</html>