<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{/customer/layout-customer.html}">
<body>
<section layout:fragment="content">
    <div id="app">
        <div class="product-container">
            <div class="product-container__inner">
                <div class="product-frame">
                    <div class="grid wide product-content">
                        <div class="row">
                            <div class="col l-6 m-7 c-12">
                                <div class="product-content__img-wrapper">
                                    <img class="product-img"
                                         th:src="${product.image}"
                                         style="height: 300px" alt=""/>
                                </div>
                            </div>
                            <div class="col l-6 m-5 c-12">
                                <div class="product-content__text-wrapper">
                                    <div class="product-content__text">


                                        <div class="product-content__text__title"
                                             th:text="${product.product_name}"
                                             th:attr="data-product-id=${product.product_id}">
                                        </div>

                                        <p class="product-price price">
                                            <span class="product-price__old del" th:text="${product.cost + 5000 + 'đ'}"></span>
                                            <span class="product-price__new" th:text="${product.cost + 'đ'}"></span>
                                        </p>

                                        <div class="product-content__rating">
                                            <!-- Lặp để hiển thị số sao đã đánh giá -->
                                            <i th:each="star : ${#numbers.sequence(1, product.avg_rating)}" th:if="${product.avg_rating >= 1}" class="fas fa-star star-rating"></i>
                                            <!-- Hiển thị nửa sao nếu có -->
                                            <i th:if="${product.avg_rating % 1 != 0 and product.avg_rating < 5}" class="fas fa-star-half-alt star-rating"></i>
                                            <!-- Hiển thị sao trống để đạt tổng cộng là 5 sao -->
                                            <i th:each="star : ${#numbers.sequence(1, 5 - product.avg_rating)}" th:if="${5 - product.avg_rating >= 1}" class="far fa-star star-rating"></i>

                                            <a href="#reviews" class="product-content__rating-description" th:text="${product.productFeedbacks.size() + ' customer review'}"></a>
                                        </div>
                                        <div class="product-content__quantity-vs-purchase">
                                            <div class="quantity-buttons">
                                                <button class="quantity-buttons--minus">-</button>
                                                <div class="quantity-buttons--number">1</div>
                                                <button class="quantity-buttons--plus">+</button>
                                            </div>

                                            <div class="purchase-buttons buttons" onclick="addToCart()">Add to Cart</div>
                                        </div>

                                        <a href="#" class="product-content__add-to-wishlist">
                                            <i class="far fa-heart product-content__add-to-wishlist__icon"></i>
                                            Add to Wishlist
                                        </a>

                                        <div class="product-content__meta">

                                        <span class="meta__category-wrapper">
                                            Category:
                                            <span class="meta__category" th:text="${product.category}"></span>
                                        </span>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- review: start -->
                        <div id="reviews"  class="tabs-content__review">
                            <div class="product-review__wrapper">
                                <span class="product-review__title">Product reviews</span>
                                <div class="product-review__header">
                                    <div class="product-review__rating-wrapper">
                                        <span class="product-review__average-rating" th:text="${#numbers.formatDecimal(product.avg_rating, 1, 1)}"></span>
                                        /5
                                        <div class="product-review__rating">
                                            <!-- Lặp để hiển thị số sao đã đánh giá -->
                                            <i th:each="star : ${#numbers.sequence(1, product.avg_rating)}" th:if="${product.avg_rating >= 1}" class="fas fa-star star-rating"></i>
                                            <!-- Hiển thị nửa sao nếu có -->
                                            <i th:if="${product.avg_rating % 1 != 0 and product.avg_rating < 5}" class="fas fa-star-half-alt star-rating"></i>
                                            <!-- Hiển thị sao trống để đạt tổng cộng là 5 sao -->
                                            <i th:each="star : ${#numbers.sequence(1, 5 - product.avg_rating)}" th:if="${5 - product.avg_rating >= 1}" class="far fa-star star-rating"></i>
                                        </div>
                                    </div>
                                    <div class="product-review__body">
                                        <!-- comment -->
                                        <div th:each="feedback : ${product.productFeedbacks}" class="product-comment__wrapper">
                                            <div class="product-comment__user-img">
                                                <img src="https://i.pinimg.com/736x/c6/e5/65/c6e56503cfdd87da299f72dc416023d4.jpg" alt="avatar">
                                            </div>
                                            <div class="product-comment__body">
                                                <span class="product-comment__user-name" th:text="${feedback.user.full_name}"></span>
                                                <div class="product-content__rating product-content__user-rating">
                                                    <!-- Lặp để hiển thị số sao đã đánh giá -->
                                                    <i th:each="star : ${#numbers.sequence(1, feedback.rating)}" th:if="${feedback.rating >= 1}" class="fas fa-star star-rating"></i>

                                                    <!-- Hiển thị nửa sao nếu có -->
                                                    <i th:if="${feedback.rating % 1 != 0 and feedback.rating < 5}" class="fas fa-star-half-alt star-rating"></i>

                                                    <!-- Hiển thị sao trống để đạt tổng cộng là 5 sao -->
                                                    <i th:each="star : ${#numbers.sequence(1, 5 - feedback.rating)}" th:if="${5 - feedback.rating >= 1}" class="far fa-star star-rating"></i>
                                                </div>
                                                <div class="product-comment__content-wrapper">
                                                    <span class="product-comment__content" th:text="${feedback.comment}"></span>
                                                </div>
                                                <div class="product-comment__created-time-wrapper">
                                                    <span class="product-comment__created-time" th:text="${#dates.format(feedback.feedback_date, 'dd-MM-yyyy')}"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- review: end -->
                        </div>
                    </div>

                    <!-- Related products -->
                    <div class="grid wide">
                        <div class="related-products__title">Sản phẩm liên quan</div>
                        <!-- Product recommend -->
                        <div class="row products">
                            <a th:each="relatedProduct : ${relatedProducts}"
                               th:href="@{/product/{id}(id=${relatedProduct.product_id})}"
                               class="col l-2-4 m-4 c-6">
                                <div class="product__item">
                                    <img class="product__item-img"
                                         th:src="${relatedProduct.image}">
                                    <h5 class="product__item-name" th:text="${relatedProduct.product_name}"></h5>
                                    <div class="product__item-price-wrapper">
                                        <h3 class="product__item-price product__item-price--old" th:text="${relatedProduct.cost + 5000 + 'đ'}">
                                        </h3>
                                        <h3 class="product__item-price" th:text="${relatedProduct.cost}">
                                        </h3>
                                    </div>
                                    <div class="star-link-sold-wrapper">
                                        <div class="star-link">
                                            <div class="star-link">
                                                <!-- Lặp để hiển thị số sao đã đánh giá -->
                                                <i th:each="star : ${#numbers.sequence(1, relatedProduct.avg_rating)}" th:if="${relatedProduct.avg_rating >= 1}" class="fa fa-star star--fill"></i>
                                                <!-- Hiển thị nửa sao nếu có -->
                                                <i th:if="${relatedProduct.avg_rating % 1 != 0 and relatedProduct.avg_rating < 5}" class="fas fa-star-half-alt star--fill"></i>
                                                <!-- Hiển thị sao trống để đạt tổng cộng là 5 sao -->
                                                <i th:each="star : ${#numbers.sequence(1, 5 - relatedProduct.avg_rating)}" th:if="${5 - relatedProduct.avg_rating >= 1}" class="far fa-star star--fill"></i>
                                            </div>
                                        </div>
<!--                                        <div class="product__sold-number">27 sold</div>-->
                                    </div>
                                    <div class="product__item-category-wrapper">
                                        <span class="product__item-category" th:text="${relatedProduct.category}"></span>
                                        <span class="product__item-origin-name">VIETNAM</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Search mobile-->
        <div class="search-mobile">
            <div class="search-mobile__input">
                <input class="search-mobile__input-text" placeholder="Search...">
                <i class="icon-search fas fa-search"></i>
            </div>

            <a href="./cart.html" class="cart-link">
                <i class="fa fa-cart-plus"></i>
            </a>
            <a class="login-link " style="padding-right: 10px">
                <i class="fa fa-user"></i>
            </a>
        </div>
    </div>
    <script src="/assets/js/JSProduct.js"></script>
    <script type="module" src="/assets/js/showHide.js"></script>
</section>
</body>
</html>