<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{/customer/layout-customer.html}">
<body>
<section layout:fragment="content">
    <!--Nội dung-->
    <!--Register form -->
    <div class="auth-form">
        <div class="auth-form__container">
            <div class="auth-form__header">
                <h3 class="auth-form__heading">ĐĂNG KÝ</h3>
                <a th:href="@{/auth/form-login}">
                    <span class="login-from__btn auth-form__switch-btn">Đăng nhập</span>
                </a>
            </div>
            <form action="#" th:action="@{/user/register}" th:object="${userDTO}" method="POST">
                <div class="auth-form__form">
                    <span th:text="${errorMessage}" style="color: red; font-size: 14px"></span>
                    <div class="auth-form__group">
                        <input type="email" th:field="*{email}" class="auth-form__input" placeholder="Email" required>
                    </div>
                    <div class="auth-form__group">
                        <input type="text" th:field="*{full_name}" class="auth-form__input" placeholder="Họ và tên" required>
                    </div>
                    <div class="gender-group">
                        <label class="gender-label">Giới tính:</label>
                        <div class="gender-option">
                            <input type="radio" th:field="*{gender}" id="male" name="gender" value="MALE" required>
                            <label for="male">Nam</label>
                        </div>
                        <div class="gender-option">
                            <input type="radio" th:field="*{gender}" id="female" name="gender" value="FEMALE" required>
                            <label for="female">Nữ</label>
                        </div>
                    </div>
                    <div class="auth-form__group">
                        <input type="text" th:field="*{phone}" class="auth-form__input" placeholder="Số điện thoại" required>
                    </div>
                    <div class="auth-form__group">
                        <input type="text" th:field="*{address}" class="auth-form__input" placeholder="Địa chỉ" required>
                    </div>
                    <div class="auth-form__group">
                        <input type="password" th:field="*{password}" class="auth-form__input" placeholder="Password" required>
                    </div>
                    <div class="auth-form__group">
                        <input type="password" th:field="*{confirmPassword}" class="auth-form__input" placeholder="Confirm password" required>
                    </div>
                </div>
                <div class="auth-form__controls">
                    <button class="buttons" type="submit">
                        ĐĂNG KÝ
                    </button>
                </div>
            </form>
        </div>
        <div class="auth-form_socials">
            <a th:href="@{/oauth2/authorization/google}"
               class="auth-form_socials-icon auth-form_socials--google btn btn--size-s"
               style="width: 100%;">
                <i class="icon-gg fab fa-google-plus-square"></i>
                <span class="auth-form__social-title">Connect to Google</span>
            </a>
        </div>
    </div>
</section>
</body>
</html>