<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{/owner/layout-owner.html}">
<body>
<section layout:fragment="content">
    <!--Nội dung-->
    <div class="container">
        <div class="chart">
            <div class="row">
                <div class="col l-12">
                    <div class="char-main" style="margin-bottom: 24px; margin-top: 100px">
                        <canvas id="chart1" style="width: 100%; height: 400px;"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>